$device-small-mobile: 320px;
$device-large-mobile: 480px;
$device-small-tablet: 600px;
$device-medium-tablet: 768px;
$device-personnalized: 896px;
$device-large-tablet: 1024px;
$device-desktop: 1280px;
$device-large-desktop: 1690px;
